/********************/
/******ALL***********/
/********************/

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.std-input-label {
  display: block;
  width: 35vw;
}

.std-colored-wrapper {
  width: 80vw;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  margin-top: 5rem;
  padding: 1.5rem;
}

.std-vertical-form input, .std-vertical-form input, .std-vertical-form textarea {
  display : block; 
}

.centered-btn {
  width: max-content !important;
}

.error {
  color: red;
}

input:focus {
  outline: solid greenyellow 3px;
  background-color: rgb(255, 255, 255);
}

h1 {
  color: white;
}

button,
input[type="submit"] {
  background-color: #24460d;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
}

.green {
  color: rgb(13, 70, 13);
}

li {
  list-style: none;
}

/********************/
/****NAVBARRE********/
/********************/

#navbar {
  display: flex;
  background: #ffffff;
  opacity: 0.6;
  padding: 15px;
  justify-content: space-between;
  height: 120px;
  max-height: 100px;
}

.search_bar {
  top: -100px;
}

#graine {
  width: 200px;

  margin-left: 10px;
  cursor: pointer;
  position: relative;
  z-index: 50;
}

#loupe {
  width: 25px;
  height: 25px;
  position: relative;
  left: -50px;
  top: 4px;
  cursor: pointer;
}

#logo {
  cursor: pointer;
  position: relative;
  z-index: 50;

  margin-right: 10px;
}

#User,
#Shop,
#Admin,
.icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin-right: 20px;
}

#search {
  /* background-color: rgb(166, 211, 155); */
  background-color: #a1d37e;
  border-radius: 20px;
  border: solid white 2px;
  padding: 0.65rem;
}

#icon {
  width: 150px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-right: 30px;
}

.search_bar {
  min-width: 200px;
  width: 40vw;
}

/************************/
/*******CONNECTION*******/
/************************/

#connexion,
#inscription,
.vertical-form {
  display: flex;
  flex-direction: column;
}

/************************/
/*******SHOP*************/
/************************/

.gallery {
  max-width: 1160px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}

#filtres {
  min-width: 1000px;
  min-height: 200px;
}

.thumbnail {
  width: 250px;
  height: 250px;
  margin: 10px;
  padding: 10px;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  overflow: hidden;
  transition: all .2s ease;
}

.thumbnail:hover {
  -webkit-transform: scale(1.1);
  /* Safari and Chrome */
  -moz-transform: scale(1.1);
  /* Firefox */
  -ms-transform: scale(1.1);
  /* IE 9 */
  -o-transform: scale(1.1);
  /* Opera */
  transform: scale(1.1);
}

.img-wrapper {
  height: 250px;
  overflow: hidden;
  border-radius: 10px;
}

.img-wrapper img{
  object-fit: cover;
  width : 100%; 
  height: 100%;
}

.number {
  max-width: 50px;
  margin: 0px;
  border: none;
  border-radius: 5px;
}

/* .number, .buttonShop {
  margin: 5px;
  max-height: 30px;
} */

.infos form {
  max-height: 30px;
}

.infos {
  width: 270px;
  position: relative;
  z-index: 50;
  top: -225px;
  left: -10px;
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 300px;
  transition: all .2s ease;
}

.infos:hover {
  top: -300px;
}

.sub-info {
  display: flex;
}

.sub-info p {
  margin: 5px 10px 0px 10px;
  max-height: 40px;
}

.name {
  max-width: 190px;
}

.thumbnail p {
  color: #22460d;
  font-size: 0.8em;
}

.thumbnail form {
  max-width: 200px;
  display: flex;
  margin: auto;
}

.cat {
  min-height: 40px;
  margin: 0px 10px 5px 10px;
  font-size: 0.6em;
  color: #22460d;
  font-style: italic;
  text-align: right;
}

.new,
.promo,
.firstPrice {
  background-color: rgba(255, 255, 255, 0.7);
  position: relative;
  z-index: 60;
  padding: .25rem;
  top: -200px;
}

.promo {
  font-weight: bold;
  color: red;
  top: -280px;
  left: 160px;
  font-size: 1.5em;
}

.firstPrice {
  width: 42px;
  font-weight: bold;
  left: 200px;
  top: -290px;
}

.noPromo {
  height: 130px;
}

/************************/
/*******FICHE DETAIL*****/
/************************/

#ficheDetail {
  max-width: 70vw;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.titleName {
  color: #22460D;
}

.photos {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(13, 70, 13);
}

.imgPrincipale {
  width: 100%;
  height: 100%;
}

.imgSecondaire {
  width: 100px;
  height: 100px;
  margin: 5px;
}

.smPhotos {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: 60vw;
}

.lgPhoto {
  max-width: 500px;
}

.infoDetail {
  display: flex;
}

#ficheDetail p {
  max-width: 60vw;
  margin: 10px;
}

#leaveComment {
  /* width: 50vw;
  min-height: 300px; */
  border: none;
  border-radius: 10px;
  margin: 10px;
}

/****************************/
/**********CART**************/
/****************************/

.cart {
  position: absolute;
  background-color: white;
  height: 50vh;
  width: 300px;
  top: 70px;
  right: 50px;
  font-size: 1.25rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: rgb(130, 168, 121);
  overflow-y: scroll;
  z-index: 100;
  opacity: 100%;
}

.formu {
  padding: 15px 15px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 0 20px rgb(238, 233, 233);
}

.btnRegister,
.btnLogin {
  display: flex;
  justify-content: center;
}

label {
  font-weight: bold;
  color: rgb(13, 70, 13);
  margin-left: 3%;
}

.button_submit {
  border-radius: 20px;
  color: white;
  background: rgb(13, 70, 13);
}

#password,
#lastname,
#firstname,
#confirm_password,
#email {
  background: rgb(255, 255, 255);
  color: rgb(13, 70, 13);
  border-top: none;
  border-radius: 20px;
}

.search:focus {
  outline: solid greenyellow 3px;
  background-color: rgb(202, 233, 194);
}

.search_bar {
  margin-top: 10px;
  width: 40vw;
  min-width: 200px;
}

#icon {
  position: relative;
}

.cart-total {
  position: absolute;
  bottom: 2rem;
  width: 100%;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(130, 168, 121);
  width: 50%;
  padding: 1rem;
  border-radius: .5rem;
}

/***************************/
/***********ORDER***********/
/***************************/

.order-adress:hover {
  cursor: pointer;
  background-color: rgb(188, 222, 171);
}

.selected-adress {
  background-color: rgb(188, 222, 171);
}

.error {
  color: red;
}

.admin-tab {
  margin: .5rem;
  font-size: 1.5rem;
  padding: .5rem 1rem;
}

.tabs {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
}

.add_article {
  width: 100%;
}

.admin-tab {
  margin: 0.5rem;
  cursor: pointer;
}

.selected-tab {
  font-weight: 600;
}

.category-item {
  padding: 0.5rem;
  width: max-content;
  border-radius: 0.25rem;
}

.category-item>* {
  margin: .5rem;
}

.category-item:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.52);
}

.vertical-form {
  background: rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 0 30px rgb(255, 255, 255);
  border-radius: 20px;
  padding: 100px 400px 50px 10px;
  margin: 20px 20px;
}

.orders-admin {
  padding: 1.5rem;
  background-color: rgba(255, 255, 255, 0.5);
  width: 80vw;
  margin-top: 5rem;
  border-radius: 20px;
}

.order-admin {
  padding: 1.5rem;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 1.5rem;
  width: 350px;
}

.orders-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* display: grid; */
  /* grid-template-columns: repeat(2, 1fr); */
}

#category>ul>li {
  list-style: none;
}

.carteorder {
  padding: 1.5rem;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 1.5rem;
}

.ordernext {
  display: flex;
  justify-content: center;
}


.order-wrapper, .new-category-form, .categories-admin, .adress-wrapper {
  width: 80vw;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  margin-top: 5rem;
  padding: 1.5rem;
}

.adress-form, .profile-form, .edit-article-form {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 1.5rem;
  margin-top: 3rem;
}

.edit-article-form input, .edit-article-form label, .edit-article-form textarea {
  width : 50vw
}

.edit-adresse-form {
  border-radius: 20px;
  padding: 1.5rem;
}

.adress-form input[type="submit"] {
  width: max-content
}

.edit-adress {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  margin: 2rem;
  padding: 1.5rem;
  width: 80%;
}