#navbar {
  display: flex;
  background:rgb(247, 230, 230);
  /* background: rgb(188, 222, 171); */
  padding: 10px;
  justify-content: space-between;
  
}

.search_bar{
  top:-100px;
}

#graine {
  width: 200px;
}

#loupe {
  width: 25px;
  height: 25px;
  position: relative;
  top:5px;
  left: -50px;
  cursor: pointer;
}

#User, #Shop {
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-right: 20px;
}



#connexion, #inscription, .vertical-form {
  display: flex;
  flex-direction: column;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(166, 211, 155);
  width : 50%; 
}


.formu{
  padding:15px 15px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.589);
  box-shadow:inset 0 20 20px rgb(238, 233, 233);
}

.btnRegister, .btnLogin{
display:flex;
justify-content: center;

}
 label{
   color:rgb(13, 70, 13);
   margin-left:3%;
 }
input:focus{
  background-color:red;
}
 .button_submit{
   border: 2px solid white;
   border-radius:20px;
   color:white;
  background:rgb(13, 70, 13);
 }

#password, #lastname, #firstname, #confirm_password, #email{
   background:rgba(0, 0, 0, 0.281);
   color : rgb(13, 70, 13);
   border-top:none;
   border-radius: 20px;
   box-shadow:inset 0 0 10px rgb(223, 222, 222);
 }

 #password:focus, #lastname, #firstname, #confirm_password, #email{

 }