@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;0,600;0,700;1,400&family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,700&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: linear-gradient(180deg, rgba(131, 209, 94, 0.54) 0%, rgb(146, 199, 102) 100%); */
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: "Montserrat", "Segoe UI", sans-serif !important;
  font-size: 1.5rem;
}

@keyframes roll {
  from {
    transform : rotate(0deg); 
  }
  to{
    transform : rotate(360deg);
  }
}

html {
  scroll-behavior: smooth;
}

.clickable {
  cursor: pointer;
}


/* label{
  width: 230px;
}   */

input, input::placeholder, button, textarea, select {
  font-size: 1.25rem;
  border-radius: .25rem;
}

button {
  margin: 1rem;
}

h3 {
  color: white;
  margin: 1rem;
}

/* html {
  background: linear-gradient(180deg, rgba(131, 209, 94, 0.54) 0%, rgba(255, 255, 255, 0) 100%);
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}