.e_com-footer {
  height: 100vh;
  overflow: hidden;
}

h3 {
  color: #22460D;
}

.wrapper {
  display: flex;
}

input[type="text"], input[type="password"], input[type="email"], textarea {
  padding: 5px 5px;
  margin: 15px 10px;
  border-radius: 10px;
  background-color: white;
  border: none;

}

input {
  outline: none;
}

input::placeholder {
  /* text-transform: uppercase; */
  color: rgba(128, 128, 128, 0.801);

}


.profile-section {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem;
  /* background-color: #ffffff; */
  opacity: 0.5;
  border-radius: 10px;
}


.bank-details {
  border-radius: 20px;
  color: #ffffff;
  margin: 1rem;
  padding-top: 20px;
  width: 40%;
}

.user-details {
  width: 50%;
  border-radius: 20px;
  margin: 1rem;
}

.adress-section {
  align-self: flex-start;
  margin-left: 260px;
  
  border-radius: 10px;
  opacity: 0.5;
}

.edit-adress {
  position: absolute;
  color: #ffffff;
  align-self: center;
  margin-top: 30em;
  margin-left: 25em;
}